@page
@using Poker.Models
@model MenuModel
@{
    ViewData["Title"] = "PlayRoom";
}

@inject Poker.Data.CardService CardService

<div class="start">
    <form method="post">
        <button type="submit">Start Game</button>
    </form>
</div>

<div class="image">
    <div class="game-board" id="gameBoard">
        <img src="~/Pictures/pokerTable.png" alt="Poker Table" />
        @if (Model.Cards != null && Model.Cards.Count > 0)
        {
            @foreach (var card in Model.Cards)
            {
                <img src="/Pictures/@card" class="card @Model.GetCardPositionClass(card)" />
            }
        }
        @if (Model.BackCards != null && Model.BackCards.Count > 0)
        {
            @for (int i = 0; i < Model.BackCards.Count; i++)
            {
                <img src="~/Pictures/@Model.BackCards[i]" class="card @Model.GetBackCardPositionClass(Model.BackCards[i], i)" />
            }
        }
        }
    </div>
</div>
